############################
# Python
############################
__pycache__/
*.pyc
*.pyo

############################
# Virtual environments
############################
.env
proportion/

############################
# Data & artifacts
############################
data/
data/raw/
data/processed/

############################
# Notebooks
############################
notebooks/
.ipynb_checkpoints/

############################
# Logs
############################
logs/
outputs/

############################
# OS
############################
.DS_Store
