############################
# Python
############################
__pycache__/
*.pyc
*.pyo

############################
# Virtual environments
############################
.env
proportion/

############################
# Data & artifacts
############################
data/
data/raw/
data/processed/

############################
# Notebooks
############################
notebooks/
.ipynb_checkpoints/
processing/clustering
processing/dashboard
ingestion/

############################
# Logs
############################
logs/

############################
# OS
############################
.DS_Store
